.headerOption {
  margin-top: 10px;
  display: flex;
  color: gray;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.headerOption:hover {
  padding-bottom: 4px;
  color: black;
  border-bottom: 1px solid black;
}

.headerOption_title {
  font-size: 12px;
  font-weight: 400;
}
.headerOption_icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
