.userSuggestion {
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.userSuggestionContainer {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.userSuggestionContainer > h5 {
  font-weight: 600;
  font-size: 14px;
}

.userSuggestionContainer > p {
  font-size: 12px;
}

.userSuggestionContainer > .followBtn {
  font-size: 25;
  background-color: white;
  padding: 5px;
  border: 2px solid gray;
  color: gray;
  margin-top: 10px;
  max-width: 100px;
  font-size: 15px;
  font-weight: 550;
  border-radius: 20px;
}

.userSuggestionContainer > .followBtn:hover {
  background-color: lightgrey;
  border: 3px solid gray;
  font-weight: 600;
  font-size: 14px;
}
