.desktopView {
  display: block;
}
.mobileView {
  display: none;
}

/* Media screen size */
@media screen and (max-width: 768px) {
  .desktopView {
    display: none;
  }

  .mobileView {
    display: block;
  }
}
